* {
    margin: 0;
    padding: 0;
}

body {
    color:white;
    background-color: rgba(0, 0, 0, 0.758);
    font-family: 'Press Start 2P';
}
 
.game-name {
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.again-button {
    color: black;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-radius: 8px;
    margin-left: 1150px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: white;
    font-weight: bold;
    font-family: 'Press Start 2P';
    padding-left: 5px;
}

.segment-line {
    /* position: relative; */
    top: 20px;
    border: none;
    height: 12px;
    background-color:white;

}

.box-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -114px;
}

.hold-generated-value {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 172PX;
    height: 137px;
    font-size: 60px;
}

.input-type {
    width: 296px;
    height: 91px;
    border-radius: 7px;
    padding-left: 17px;
    font-size: 26px;
    font-family: 'Press Start 2P';
}
.take-input{
    margin-left: 200px ;
    margin-top: 87px;
}
.check-button{
    font-weight: bold;
    font-family: 'Press Start 2P';
    padding-left: 5px;
    color: black;
    font-size: 20px;
    width: 180px;
    height: 70px;
    border-radius: 8px;
    margin: 60px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 81px;
    
    justify-content: center;
    align-items: center;
}

.box-main{
    font-size: 25px;
    margin-left: 623px;
    margin-top: -238px;; 
}
.Between-range{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 35px;
    margin-bottom: -42px;
}
.footer{
    background-color: black;
    margin-top: 50px; 
    height: 30vh;
    padding-top: 20px;
  
   
}
.footer-heading{
    font-size: 40px;
    font-family: 'small-caps';
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-id{
    width: 39px;
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    margin-left: 11px;

}
.account-id1{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    font-family: 'small-caps';

}
.account-id1:hover{
    color: blue;
    font-size: 25px;
    cursor: pointer;
}
